.ProductImg {
    width: 150px;
    height: 150px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.Title {
    font-size:15px;
    font-weight:600;
    text-transform:capitalize;
    margin:0 0 10px;
    transition:all .3s ease 0s;
    height: 45px;
}

.test{
    height:  200px!important;
}