.Containerxxl {
    max-width: 1400px!important;
    padding: 70px 15px;
}

.ShoppingCart {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    background: #eecda3;
    padding-top: 50px;
    box-shadow: 0px 10px 25px rgb(0 0 0 / 10%);
    border-radius: 5px;
}


@media (min-width: 1200px) {
    .container-xl {
        max-width: 1400px!important;
    }
}